logs
*.log
npm-debug.log*
node_modules
dist
lib
solution
temp
*.sppkg
!sharepoint/solution/
sharepoint/solution/*
!sharepoint/solution/sps-form-navigator.sppkg
coverage
.DS_Store
.ntvs_analysis.dat
.vs
bin
obj
*.resx.ts
*.scss.ts
