@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.calendar {
  .message {
    @include ms-font-m;
    padding: 8px 0;
  }

  .error {
    @include ms-font-m;
    color: $ms-color-alert;
    padding: 8px 0;
  }

  .calendarContainer {
    @include ms-font-m;
  }

  div[class^=webPartTitle] {
    font-weight: 600 !important;
    font-size: 20px !important;
  }
}
