/*working tabbed with ling underline and slanded right fully filed boxes*/
.CanvasZone {
    max-width: unset;
}
.ControlZone-control img {
    aspect-ratio: auto 100 / 63;
    width: max-content;
    height: 100%;
}
.ControlZone-control .realWebPart  {
    max-width: 100%;
}
.ControlZone-control .realWebPart > [class^="HTMLEmbed"] {
    max-width: none! important;
}
input#input-Title {
    text-transform: initial;
}
div.sectionHidden {
    display: none;
}

div[part-Loading='true'] {
    display: block;
    visibility: hidden;
}
.cd-tabs-navigation {
    width: auto;
    padding: 0px;
    margin: 0px;
}
.cd-tabs-navigation:before {
    z-index: 1;
   
}
.cd-tabs-navigation:after {
    content: "";
    display: table;
    clear: both;
}
.cd-tabs-navigation li {
    float: left;
    list-style-type: none;
    margin: 0 .5em 0 0;
}
.cd-tabs-navigation span {
    position: relative;
    display: block;
    height: 60px;
    min-width: 60px;
    text-align: center;
    font-size: 12px;
    font-size: 0.75rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    color: #fafafa;
    padding-top: 34px;
    text-decoration: none;
    cursor: pointer;
    border-color: #FAFAFA;
    border-width: thin;
    border-style: ridge;
    background-color: var(--disableColor);
}
 

.cd-tabs-navigation span::after {
    content:'';
    position:absolute;
    z-index: 1;
    top: 0;
    right: -.5em;
    bottom: 0;
    width: 1em;
    background: #ddd;
    background-image: linear-gradient(to bottom, #fff, #ddd);
   /* box-shadow: 2px 2px 2px rgba(0,0,0,.4);*/
    transform: skew(14deg);
    border-radius: 0 5px 0 0;
    background: var(--disableColor);
}
.cd-tabs-navigation span.selected {
    background-color: var(--selectedColor) !important;
    box-shadow: inset 0 3px 0 var(--selectedColor);
    color: #fafafa;
    cursor: auto;       
}
.cd-tabs-navigation span.selected::after {
    background: var(--selectedColor);
}

 @media all and (min-width: 768px) and (max-width: 990px) {
    
    .ControlZone-control img {
        aspect-ratio: auto 100 / 63;
        width: max-content;
        height: 100%;
    }
    .ControlZone-control .realWebPart  {
        max-width: 100%;
    }
    .ControlZone-control .realWebPart > [class^="HTMLEmbed"] {
        max-width: none! important;
    }
    .cd-tabs-navigation span {
      height: 60px;
      min-width: 60px;
      padding-top: 46px;
      background-color: var(--disableColor);  
     }
    .cd-tabs-navigation span.selected {
      background-color: var(--selectedColor);
      color: #fafafa;    
    }
 
} 
 @media only screen and (min-width: 990px) {

    .ControlZone-control img {
        aspect-ratio: auto 100 / 63;
        width: max-content;
        height: 100%;
    }
    .ControlZone-control .realWebPart  {
        max-width: 100%;
    }
     .ControlZone-control .realWebPart > [class^="HTMLEmbed"] {
        max-width: none! important;
    }
     .cd-tabs-navigation {
      width: auto;
      box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
    }
    /* get the line below the tabs*/
    .cd-tabs-navigation:after {
        content: "";
        display: table;
        clear: both;        
        position: absolute;
        content: "";
        width: 100%;
        bottom: 2px;
        left: 0;
        border-bottom: 2px ridge var(--selectedColor);
        z-index: 1;          
    }
    .cd-tabs-navigation span {
      height: 60px;
      line-height: 60px;
      width: auto;
      text-align: center;
      font-size: 14px;
      font-size: 0.875rem;
      padding: 0 2.8em 0 2.8em;
      background-color: var(--disableColor);
        margin-bottom: 4px;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 1px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; 
        z-index: 2;
    }
     
    .cd-tabs-navigation span.selected {
      box-shadow: inset 0 3px 0 var(--selectedColor); 
      background-color: var(--selectedColor);
      color: #fafafa;
         z-index: 3;
    }    
  /*   .cd-tabs-navigation span::before {
      margin-top: 42px;
      margin-left: 0;
   
    } */
 }
@-webkit-keyframes cd-fade-in {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}
@-moz-keyframes cd-fade-in {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}
@keyframes cd-fade-in {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}


