* { box-sizing: border-box; }


body,
html { overflow-x: hidden; }

.bar {
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  padding: 2px 0;

  background-color: var(--marqueeBackColor);
  color: var(--marqueeTextColor);
  font-size: 13px;
  font-family: "Segoe UI","Segoe,Tahoma,Arial,Helvetica,sans-serif";
  padding: 5px;
  font-weight: bold;
} 

.bar_content {
  display: block; /* Important to give the content a width */

  width: 100%;
  transform: translateX(100%); /* Animation start out of the screen */

  /* Add the animation */
  animation: move 50s linear infinite /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  to { transform: translateX(-100%); }
}